body{
    background-color: rgb(250, 250, 249);
}
p,div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.special{
    font-size: 20px;
}

#id1{
    text-decoration:solid;
}
div{
    padding: 15px;
    border: 2px solid rgb(245, 113, 113);
    background-color: color(display-p2 1.6 1.6 0 / 0.4);
}