/* body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(211, 155, 164);
  }
   */
  /* div{
    padding: 15px;
    border: 2px solid black; 
    background-color: color(display-p2 1.6 1.6 0 / .4);
  } */
  
  .card{
    background-color: rgb(125, 229, 112);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    text-align: center;
  }
  