.button {
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    margin: 10px 0;
    transition: 0.2s ease-in-out;
    width: 200px;
  }
  
  /* INDIVIDUAL COLORS */
  .async {
    background-color: #007bff;
  }
  
  .promise {
    background-color: #dc3545;
  }
  
  .timeout {
    background-color: #28a745;
  }
  
  .button:hover {
    opacity: 0.85;
  }
  